body {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #0a0a0a;
    font-size: 40px;
    text-align: center;
}

input {
    height: 40px;
    border: 2px solid #84009b;
    background-color: white;
    color: black;
    outline: none;
    width: 76%;
}

button {
    border: none;
    height: 44px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;

}

button:hover {
    background-color: #a900c7;
}

button:active {
    background-color: #c900ec;
}

ul{
    list-style-type: none;
    padding: 0;
}

li {
    background-color: black;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    cursor: pointer;
}